language: node_js

sudo: required
services:
  - docker

  before_install:
    - docker build -f Dockerfile.dev -t antitheus/docker-react .

  script:
    - docker run antitheus/docker-react npm run test -- --coverage
